.top-content {
  display: grid;
  grid-template-columns: 64% 30%;
  grid-gap: 20px;
  max-width: 820px;
}

.submitBtn,
.seeScores {
  background-color: #f5f5f5;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3px;
}

.submitBtn:hover,
.seeScores:hover {
  background-color: #000;
  color: #f5f5f5;
}

.seeScores {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
